.freightSetting {
    background: #F1F9FF;
    min-height: 100vh;
    padding-top: 50px;
}

.freightSetting .list {
    margin: 0 auto;
    border: 0;
}

.freightSetting .edit,
.freightSetting .delete {
    border-radius: 5px;
    margin-left: 5px;
    /* float: left; */
}

.freightSetting table th {
    text-align: left;
    border: 0;
    padding: 0px;
    padding-right: 5px;
    font-size: 15px!important;
    font-weight: bold;
    position: relative;
    color: #2699FB;
}

.freightSetting table td {
    border-top: 1px solid!important;
    border-bottom: 1px solid !important;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 0;
    color: #4A4949
}

.freightSetting .addNew {
    text-align: right;
    margin-bottom: 20px;
}

.freightSetting table td:last-child {
    text-align: right;
    max-width: 100px;
}

.freightSetting .addNew button {
    border-radius: 5px;
    padding: 5px 15px;
}

.freightSetting .arrows {
    float: right;
    width: 5px;
    height: 10px;
    margin-right: 15px;
    margin-top: -2px;
}

.freightSetting .arrows .up {
    margin-top: -5px;
    height: 4pt;
}

.freightSetting .arrows .down {
    margin-top: -35px;
    height: 4pt;
}

.freightSetting .readMore {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #2699FB;
}

.freightSetting .readMore img {
    margin-top: -40px;
    height: 5pt;
}

;