
.detail-search {
    background-color: #2699FB;
    color: #FFFFFF !important;
}

p.head {
    text-align: center;
    margin-top: 45px !important;
}

.btn.detail-search {
    color: #FFFFFF !important;
    background: #2699FB;
    height: 27px;
    align-items: center;
    width: 87px;
    font-size: 12px;
    border-radius: 8px;
}

.table td {
    color: #848282 !important;
    padding: .50rem;
    font-size: 14px;
}

hr {
    color: black;
    opacity: 100%;
}

#listing_list div.mt-5 table {
    width: 276px;
    margin-left: 56px;
}

#listing_list div.mt-2.p-3 {
    width: 299px;
    margin-left: 43px;
}

#listing_list div.mt-2.p-3 button {
    width: 116px;
    border-radius: 8px;
    font-size: 14px;
}

#listing_list div.mt-2.p-3 button:nth-child(2) {
    margin-left: 10px !important;
}

.txt1 {
    color: #ff8540;
    font-weight: bold;
    font-size: 17px;
}

.txt2 {
    color: #000000;
    font-weight: bold;
}

.money {
    font-size: 24px;
    color: #2699FB;
    font-weight: bold;
}
div.col-6.text-center.text-button{
    margin-top: 5px;
}
div.col-6.text-center.text-button.text-red{
    margin-top: 5px;
}
div.col-6.text-center.text-button.text-gray{
    margin-top: 5px;
}
button.btn.btn-block.text-gray{
    background-color: #EFEFEF;
}
button.btn.btn-block.text-red{
    color: #F00;
    border: 1px solid #CCC;
}
button.btn.text-blue{
    background-color: #1890FF;
    border: 1px solid #CCC;
    border-radius: 8px;
}
button.btn.text-gray{
    background-color: #EFEFEF;
    border-radius: 8px;
}
.float-left p{
    margin-bottom: 1px;
}
p.float-right{
    margin-bottom: 0px;
    font-size: 40px;
}
/* --------------- ListingListModal ------------- */
.listTables{
   border-bottom: 3px solid #DDD;
}
p.contentText.text-center{
    font-size: 16px;
}
div.form-input.bid{
    background-color: #DDDDDD;
    border-radius: 15px;
    height: 170px;
    margin: 20px 0px;
}
div.noImage.bid{
    margin-top: 40px;
    margin-left: 20px;
    padding: 14px 18px;
    background-color: #FFF;
    border: 1px solid #F5F5F5;
}
div.noImage.bid p{
    margin-top: 12px;
}
input.form-input-num{
    height: 40px;
    border: 3px solid #F5F5F5;
    margin: 4px 25px;
}
div.row.row-input.bid{
    margin-top: 12px;
    background-color: #FFF;
    border: 1px solid #F5F5F5;
    width: 90%;
    margin-left: 15px;
    height: 50px;
    border-radius: 15px !important;
}
h6.total-amount{
    font-size: 25px;
    /* margin-top: 5px; */
    font-weight: 800;
    margin: 12px 6px;
}
.mart{
    font-size: 10px;
}
.duration{
    font-size: 15px;
}
div.col-6.col-content{
    margin-top: 30px;
}
input.custom-file-input.input-img{
    margin-top: 85px;
    margin-left: 23px;
    margin-right: 23px;
    padding: 40px 0px 40px 0px !important;
}
div.form-input.bid-info{
    background-color: #FFF;
    border-radius: 15px;
    height: 109px;
    margin: 20px 0px;
    border: 3px solid #F5F5F5;
    text-align: center;
    font-weight: 800;
    padding: 5px 6px;
}
div.form-input.bid-info p{
    margin-bottom: 5px;
    
}
div.form-input.bid-info p:last-child{
    margin-bottom: 14px !important;
    font-size: 28px;
}
@-moz-document url-prefix() {
    div.noImage.bid {
        margin-top: 65px;
        margin-left: 20px;
        padding: 14px 18px;
        background-color: #FFF;
        border: 1px solid #F5F5F5;
    }
    input.custom-file-input.input-img {
        margin-top: 64px;
        margin-left: 23px;
        margin-right: 14px;
        padding: 40px 0px 40px 0px !important;
    }
}
div.mt-2.p-3 button{
    width: 116px;
    border-radius: 8px;
    font-size: 14px;
}
.btn-listing-detail-search {
    background-color: #2699FB !important;
    color: #FFFFFF !important;
}

.l-title-under-exb {
    color: #FF8540;
    font-weight: bold;
    font-size: 20px;
}

.l-title-private {
    color: #FF4040;
    font-weight: bold;
    font-size: 20px;
}

.l-title-2 {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}

.l-parag {
    margin: 0px;
}

.l-price-2 {
    font-size: 30px;
    color: #2699FB;
    font-weight: bold;
    margin-bottom: 0px;
}

.l-price-1 {
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 0px;
}

.listinglist-table td {
	color: #848282 !important;
	padding: .50rem;
	font-size: 14px;
	border: 1px solid #dee2e6 !important;
}

.btn-listing-bid-confirm {
    background-color: #2699FB !important;
    color: #FFFFFF !important;
}

.btn-listing-make-private {
    color: #FF0000 !important;
    border: 1px solid #CCCCCC !important;
}

.btn-listing-delete {
    color: #FF0000 !important;
    border: 1px solid #CCCCCC !important;
}

.btn-listing-edit {
    background-color: #EFEFEF !important;
    color: #000000 !important;
    font-weight: bolder;
}

.btn-listing-reoffer {
    background-color: #EFEFEF !important;
    color: #000000 !important;
    font-weight: bolder;
}

.horizontal-line {
    border-bottom: 2px solid #707070;

}