.trading-history-wrapper {
	height: 700px;
}

#tradingHistory .search-download-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#tradingHistory .search-bar {
    border-style: solid;
    border-width: 1px;
    border-color: #2699FB;
    border-radius: 4px;
    width: 166px;
	height: 50px;
	margin-right: 9px;
}

#tradingHistory .search-bar p {
    font-size: 12pt;
    font-family: "Hiragino Kaku Gothic Pro";
    color: #000000;
    text-align: left;
    padding-left: 21px;
	margin-bottom: 0;
}

#tradingHistory .search-icon-container {
    position: relative;
	top: -50px;
	left: 115px;	
    width: 50px;
    height: 50px;
    background-color: #2699FB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tradingHistory .search-icon-container img {
    width: 16px;
    height: 16px;
}

#tradingHistory .csv-download-button {
    width: 166px;
    height: 50px;
    background-color: #2699FB;
	border-radius: 4px;
	margin-left: 9px;
}

#tradingHistory .csv-download-button p {
    color: #FFFFFF;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12pt;
    margin-bottom: 0;
}

#tradingHistory .date-wrapper {
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: space-evenly;
}

#tradingHistory .delivery-date {
    width: 166px;
    height: 48px;
    border-style: solid;
    border-width: 1px;
    border-color: #2699FB;
    border-radius: 4px;
    padding-right: 21px;
	margin-right: 8.5px;
}

#tradingHistory .delivery-date p {
    color: #000000;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12pt;
    margin-bottom: 0;
    position: relative;
    left: -25px;
}

#tradingHistory .delivery-date img {
    position: relative;
    right: -120px;
}

#tradingHistory .delivery-date h6 {
    font-size: 9pt;
    font-weight: bold;
    position: absolute;
    top: -16px;
    left: 0;
}

#tradingHistory .closing-date {
    width: 166px;
    height: 48px;
    border-style: solid;
    border-width: 1px;
    border-color: #2699FB;
    border-radius: 4px;
    padding-right: 21px;
    margin-left: 8.5px;
}

#tradingHistory .closing-date p {
    color: #000000;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12pt;
    margin-bottom: 0;
    position: relative;
    left: -25px;
}

#tradingHistory .closing-date img {
    position: relative;
    right: -120px;
}

#tradingHistory .closing-date h6 {
    font-size: 9pt;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 130px;
}

#tradingHistory .search-download-wrapper .container {
    position: absolute;
    top: 60px;
    display: flex;
  	justify-content: center;
}

#tradingHistory .first-table {
	position: absolute;
    top: 100px;
    display: flex;
	justify-content: center;
	background-color: #2699FB;
}

#tradingHistory .first-combo-table td {
    border: 1px solid #FFFFFF;
    width: 88px !important;
    text-align: left;
    padding-left: 14px;
    font-size: 9pt;
    height: 46px;
    color: #FFFFFF;
}

#tradingHistory .second-table {
    position: absolute;
    top: 260px;
    display: flex;
    justify-content: center;
}

#tradingHistory .second-combo-table td {
    border: 1px solid #2699FB;
    text-align: left;
    padding-left: 14px;
    font-size: 9pt;
    width: 88px;
    height: 46px;
    color: #000000;
}

#tradingHistory .third-table {
    position: absolute;
    top: 361px;
    display: flex;
    justify-content: center;
}

#tradingHistory .third-combo-table td {
    border: 1px solid #2699FB;
    text-align: left;
    padding-left: 14px;
    font-size: 9pt;
    width: 88px;
    height: 46px;
    color: #000000;
}

#tradingHistory .fourth-table {
    position: absolute;
    top: 461px;
    display: flex;
    justify-content: center;
}

#tradingHistory .fourth-combo-table td {
    border: 1px solid #2699FB;
    text-align: left;
    padding-left: 14px;
    font-size: 9pt;
    width: 88px;
    height: 46px;
    color: #000000;
}

#tradingHistory .fifth-table {
    position: absolute;
    top: 561px;
    display: flex;
    justify-content: center;
}

#tradingHistory .fifth-combo-table td {
    border: 1px solid #2699FB;
    text-align: left;
    padding-left: 14px;
    font-size: 9pt;
    width: 88px;
    height: 46px;
    color: #000000;
}
