.shippingSetting {
    background: #F1F9FF;
    min-height: 100vh;
    padding-top: 50px;
}

.shippingSetting .list {
    margin: 0 auto;
    border: 0;
}

.shippingsetting-header-table th {
	padding-bottom: 5px !important;
	font-weight: 100;
}

.shippingSetting table th {
    text-align: left;
    border: 0;
    padding: 0px;
    padding-right: 5px;
    font-size: 12px !important;
    position: relative;
    color: #2699FB;
}

.shippingSetting table td {
    border-top: 0.5px solid!important;
    /* border-bottom: 0.5px solid !important; */
    border: 0;
	border-color: #B9B9B9 !important;
    font-size: 12px;
    padding: 5px 0;
    color: #000000 !important;
}

.shippingSetting .addNew {
    text-align: right;
    margin-bottom: 20px;
}

.shippingSetting table td:last-child {
    text-align: right;
    max-width: 100px;
}

.shippingSetting .addNew button {
    border-radius: 5px;
    padding: 5px 15px;
}

.shippingSetting .addNew {
	margin-top: -15px;
}

.shippingSetting .arrows {
    float: right;
    width: 5px;
    height: 10px;
    margin-right: 20px;
    margin-top: -2px;
}

.shippingSetting .arrows .up {
    margin-top: -5px;
	height: 4pt;
	width: 7px;
}

.shippingSetting .arrows .down {
    margin-top: -28px;
    height: 4pt;
	width: 7px;
}

.shippingSetting .readMore {
    text-align: center;
	margin-top: 0;
	font-size: 12px;
    font-weight: bold;
    color: #2699FB;
}

.shippingSetting .readMore img {
    margin-top: -40px;
    height: 5pt;
}