.changePasswordModal .modal-body {
    text-align: center;
    font-size: 21px;
    color: #2699FB;
    padding: 30px 30px;
}

.changePasswordModal input[type='submit'] {
    font-size: 14px;
    color: #2699FB;
}

.modal.changePasswordModal .modal-content {
    top: 35vh;
}

.modal.changePasswordModal {
    padding: 0 35px;
}