.btn-inquiry-ok {
    color: #2699FB !important;
    font-weight: bold !important;
}

.inquiryConfirmMsg {
	color: #2699FB;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.btnInquiryYes {
	color: #2699FB !important;
	font-weight: bold !important;
}

.btnInquiryNo {
	color: #E90F0F !important;
	font-weight: bold !important;
}

.inquiryConfirmModal, .inquirySuccessModal {
	padding-left: 10%;
	padding-right: 10%;
}

.inquiryConfirmModal .modal-body {
	padding-bottom: 1rem !important;
}

.inquirySuccessModal .modal-body {
	padding-bottom: 1rem !important;
}