.ShippingSettingModal .modal-content {
    width: 295px;
    height: 176px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30vh;
}

.ShippingSettingModal .modal-body p {
    margin-top: 40px;
    color: #2699FB;
    font-size: 21px;
}

.ShippingSettingModal .modal-body input {
    margin-top: 20px;
    color: #2699FB;
    width: 35%;
}