#dashBoard {
    font-family: Arial, "Segoe UI", "Hiragino Kaku Gothic Pro", "Ikono Mini F 1";
    /* max-width: 90%; */
    /* margin-left: 20px;
    margin-top: 30px; */
    /* border-bottom: 3px solid #848282; */
}

#dashBoard p {
    white-space: pre-line;
}

div.col-6.actions {
    color: #007AFF;
}

div.col-6.actions2 {
    color: #FF7600;
    margin-left: -40px;
}

div.col-6.actions3 {
    color: #46B51D;
    margin-left: -40px;
}

div.col-6.actions4 {
    color: #FF7600;
    margin-left: -40px;
}

div.items-dashboard {
    border-bottom: 5px solid #F5F5F5;
}

#dashBoard .container {
    background-color: #F5F5F5;
}

#dashBoard .list-group h4 {
    background-color: #FFFFFF;
}

#dashBoard .list-group-item {
    border: none;
}

li.list-group-item h5 {
    font-size: 12px;
}

li.list-group-item p {
    font-size: 11px;
}

#dashBoard div.card h4 {
    padding-top: 20px;
    text-align: center;
    color: #7D7D7D;
    float: right;
}

#dashBoard div.card button {
    /* margin-top: -20px; */
}

button.btn.readMore {
    color: #2699FB;
}

button.btn p {
    margin-bottom: -5px;
}

#dashBoard div.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#dashBoard .dashboard-dropdown {
    color: #7D7D7D;
    font-size: 12px;
    border: 1px solid #7D7D7D;
    height: 25px;
    padding: 1px 8px;
    background-color: #FFFFFF;
    margin-top: 10px;
}

#dashBoard div.dropdown-menu.show {
    transform: translate3d(-90px, 25px, 0px);
}

#dashBoard div.card-body {
    margin-top: -25px;
}

.container div:last-child div:nth-child(2) ul {
    margin-top: 20px;
}

.container div:first-child div.col-6.actions {
    margin-left: -45px;
}

.container div:last-child div.col-6.actions {
    margin-left: -50px;
}


/* ------------- CAROUSEL --------------- */

.dashBoardActivity {
    margin: 27px !important;
    width: 85% !important;
}

div.carousel.slide {
    padding-bottom: 20px;
}

a.carousel-control-next {
    display: none;
}

a.carousel-control-prev {
    display: none;
}

ol.carousel-indicators li {
    width: 7px;
    border-radius: 50%;
    height: 7px;
    background-color: #BCE0FD;
}

ol.carousel-indicators {
    margin-bottom: -1px;
    margin-bottom: -1px;
}

ol.carousel-indicators .active {
    background-color: #1890FF;
}

.requestInfo .row div.col-6 {
    margin-top: 30px;
}

.requestInfo .row .col-6 h5 {
    font-weight: 800;
    font-size: 17px;
}

.contentText {
    margin: 12px 50px 12px 25px;
    font-size: 12px;
    color: #848282;
}

div.requestList {
    margin: 12px 20px 12px 20px;
}

div.requestInfo {
    margin: 12px 20px 12px 20px;
}


/* ----------------NEWSMODAL--------------------- */

.modal-contents {
    top: 200px;
    margin: 15px !important;
    width: 90% !important;
}

p.title-content {
    color: #2699FB;
    text-align: center;
}

p.body-content {}

p.time-content {
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 800;
}

div.fade.modal-backdrop.show {
    opacity: 1;
}