
#RequestList{
    padding: 1px;
    font-family: Arial, "Segoe UI","Hiragino Kaku Gothic Pro", "Ikono Mini F 1";
    /* max-width: 90%; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-bottom: 3px solid #848282;
    background-color: #FFFFFF;
}

div.col-6.d-flex.align-items-end h3{
    font-weight: 800;
    font-size: 38px;
    padding-bottom: 5px;
    color: #2699FB;
}
.fa{
    font-family: FontAwesome !important;
}
.soundUp{
    color: #C02CC6;
    font-weight: 800;
}

.requestInfo .row .col-6 h5{
    font-weight: 800;
}
.contentText{
    margin: 12px 50px 12px 25px;
    font-size: 12px;
    color: #848282;
}
#RequestList .requestList{
    margin: 12px 30px 12px 10px;
}
#RequestList .requestInfo{
    margin: 10px 15px 12px 15px;
}
#RequestList .requestAction{
    margin: 35px 0px;
   align-items: center;
   text-align: center;
}
#RequestList div.requestAction{
    margin: 35px 0px;
   align-items: center;
   text-align: center;
}
#RequestList .requestAction div.col-6 h5{
    font-weight: 800;
}
#RequestList .requestAction div.col-6 h5:last-child{
    margin-left: 18px
}
#RequestList .requestAction div.col-6.d-flex.align-items-end h6{
    font-weight: 800;
    margin-bottom: 12px;
}
button.btn.btnBlue{
    background-color: #2699FB;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    color: #EFEFEF;
  
}
button.btn.btnBlue:first-child{
    margin: 10px 105px;
}
button.btn.btnBlue:last-child{
    padding: 10px 15px;
}
#RequestList .carousel{
    padding-bottom: 20px;
}
#RequestList .carousel-control-next{
    display: none;
}
#RequestList .carousel-control-prev{
    display: none;
}
#RequestList .carousel-indicators li{
    width: 7px;
    border-radius: 50%;
    height: 7px;
    background-color: #BCE0FD;
}
#RequestList .carousel-indicators{
    margin-bottom: -1px;
    margin-bottom: -1px;
}
#RequestList .carousel-indicators .active{
    background-color: #1890FF;
}
#RequestList .table td {
    font-size: 12px;
    color: #848282;
    border: 1px solid #dee2e6 !important;
}
.requestAct{
    margin: 0px 18px;
}
.form-input{
    background-color: #DDDDDD;
    border-radius: 15px;
    height: 50px;
    margin: 20px 0px;
}
input.form-input-num{
    width: 65px;
    margin: 8px 25px;
    margin-right: 5px !important;
    border-radius: 15px;
    border: 1px solid #fff;
}
.requestInfo .row .col-6 p {
    margin-bottom: 0px;
}
div.col-6{
    font-weight: 800;
}

.soundsUP{
    color: #C02CC6;
}
.content-name{
    font-weight: 800;
}
.weight{
    margin-bottom: 0px;
}
.amount{
    font-weight: 800;
    font-size: 38px;
    /* padding-bottom: 5px; */
    color: #2699FB;
}
.total-amount{
    font-size: 30px;
    margin-top: 5px;
    font-weight: 800;
    margin: 8px 30px
}
div.modal-header{
    padding: 0 0;
}
.requestListModal{
    top: 200px;
    width: 90%;
    margin: 15px 15px;
}
.text-title{
    margin: 17px 0px;
}
button.btn.btn-modal-click{
    text-align: center;
    height: 10px;
    width: 100%;
    font-size: 25px;
    color: #2699FB;
}
.lot{
    font-size: 18px;
    font-weight: 800;
    margin: 15px 5px;
}
h3.txt-modal{
    margin: 0px 78px;
    color: #2699FB;
}