.inquiry-textarea{
 min-height: 253px !important;
 height: 253px;
}

.btn-inquiry-group{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top:3rem;
}
.inquiry-submit-btn{
    padding: 7px 26px 8px 26px;
    background-color: #1890FF;
    border-radius: 9pt;
    color: #EFEFEF;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Pro";
}

#inquiry-form label{
    font-family: Arial;
    font-size:12px;
}

#inquiry-form textarea::placeholder, #inquiry-form input::placeholder{
    color: #2699FB;
    
}

#inquiry-form label{
    color: #2699FB;
}

#inquiry-form textarea, #inquiry-form input{
    border: 1px solid #BCE0FD;
    font-size: 14px;
    border-radius: 1px;
    
}