#login.wrapper {
    margin-bottom: 150px;
    border: 0!important;
    min-height: 100vh;
}

#login .form-title {
    height: 20vh;
    position: relative;
    text-align: center;
    background: #2699FB;
    height: auto;
}

#login .form-title p {
    width: 100%;
    color: white;
    font-size: 25px;
    bottom: 0;
}

#login input[type='text'].form-control,
#login input[type='password'].form-control {
    border-radius: 50px;
    padding-left: 50px;
    padding-left: 50px;
    height: 48px;
    margin-top: 20px;
    color: #2699FB;
    border: 1px solid #BCE0FD;
}

#login input[type='password'].form-control {
    background: url('/static/media/ic_lock_open_24px.4c3f197e.svg') no-repeat scroll 20px 15px;
    font-size: 25px;
}

#login input[type='text'].form-control {
    background: url('/static/media/ic_person_24px.0d8762bc.svg') no-repeat scroll 20px 15px;
    font-size: 14px;
}

#login input[type='text'].form-control::placeholder,
#login input[type='password'].form-control::placeholder {
    color: #2699FB;
}

#login .buttons {
    margin-top: 15vh;
    text-align: center;
}

#login form {
    width: 295px;
    margin: 0 auto;
}

#login .btn.login {
    background: #2699FB;
    color: #fff;
    padding: 10px 0px;
    border-radius: 50px;
    height: 48px;
}

#login .btn.signup {
    border: 2px solid #2699FB;
    color: #2699FB;
    border-radius: 50px;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 35px;
}

#login .forgetPassword {
    font-size: 13px;
    color: #22ABB6;
}

#login .card {
    border: 0!important;
}