#resetPassword {
    background: #F1F9FF;
    min-height: 100vh;
    text-align: center;
}

#resetPassword .resetTitle {
    font-size: 14px;
    text-align: center;
    color: #2699FB;
    margin-top: 25vh;
}

#resetPassword input[type='email'] {
    border: 1px solid #BCE0FD;
    color: #2699FB;
    font-size: 14px;
    height: 48px;
    margin-top: 15px;
}

#resetPassword input[type='email']::placeholder {
    color: #2699FB;
}

#resetPassword input[type='submit'] {
    width: 96px;
    height: 40px;
    background: #2699FB;
    color: white;
    font-weight: bold;
    margin-top: 25px;
}

#resetPassword .confirmationContent {
    font-size: 14px;
    text-align: center;
    color: #2699FB;
    margin-top: 15px;
}

#resetPassword .confimationTitle {
    font-size: 20px;
    text-align: center;
    color: #2699FB;
    margin-top: 25vh;
    font-weight: bold;
    margin-bottom: 15px;
}