.changePassword label {
    font-size: 14px;
    color: #2699FB;
    margin-bottom: 0;
    margin-top: 15px;
}

.changePassword input[type='password'] {
    height: 48px;
    border: 1px solid #BCE0FD;
    color: #2699FB;
    font-size: 14pt;
}

.changePassword input[type='password']::placeholder {
    color: #2699FB;
}

.changePassword input[type='submit'] {
    background: #2699FB;
    color: white;
    margin-top: 50px;
    height: 48px;
    ;
}

.changePassword.container {
    padding: 0 24pt;
    padding-top: 15px;
}