.changeEmailContainer {
	background-color: #F1F9FF;
	height: 100vh;
}

.changeEmailContainer .form-control-lg {
	border: 2px solid #BCE0FD;
	border-radius: 0em;
	height: calc(1.5em + 2rem + 2px);
	padding: .5rem 2rem;
}

.changeEmailContainer label {
	color: #2699FB;
}

.changeEmailContainer input[type=text] {
	color: #2699FB !important;
}
/* Placeholder */
.changeEmailContainer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #2699FB !important;
}
  
.changeEmailContainer :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #2699FB !important;
}
  
.changeEmailContainer ::-ms-input-placeholder { /* Microsoft Edge */
	color: #2699FB !important;
}

.btn-update-email{
	background-color: #2699FB !important;
	color: #FFFFFF !important;
	font-size: 20px !important;
	line-height: 2.5rem !important;
	font-weight: bold !important;
}

.modal-confirm-email {
	padding-left: 10%;
	padding-right: 10%;
}

.update-msg {
	color: #2699FB;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.btn-email-ok {
	color: #2699FB !important;
	font-weight: bold !important;
}

.modal-confirm-email .modal-body {
	padding-bottom: 1rem !important;
}